body {
   background:#F0CE91;
}

.headband {
    background-image: linear-gradient( 135deg, #F0FF00 10%, #58CFFB 100%);
}


div.site-meta{
  background-image: linear-gradient( to bottom, #E8D07A 10%, #5312D6 100%);
}
div.content-wrap {
   background:#fff;
}
div.sidebar-inner.affix-top {
  background:transparent;

    
}
/**
 * background:#F0CE91;
 * background:url(/images/brand.jpg);
 */